<div class="background">
    <div class="full-bg">
      <div class="container clearfix">
        <div class="block1-left">
          <h2>{{ 'amr.settings.LAMBDA' | translate }}</h2>
          <p>{{'amr.settings.headline' | translate}}</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary">iPhone</mat-chip>
            <mat-chip color="accent">Android</mat-chip>
          </mat-chip-list>
        </div>
        <div class="block1-right">
          <img src="./assets/img.png" alt="no img">
        </div>
      </div>
    </div>
</div>
